ul.messenger-theme-flat .messenger-message-slot .messenger-message
{
    border-radius:0px!important;
}



ul.messenger-theme-flat {
    border-radius:0px!important;
}
ul.messenger-theme-flat .messenger-message .messenger-actions a {
    border-radius:0px!important;
}


blockquote {
    border-right: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;    
}